* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100vh;
  font-family: "Poppins";
  color: black;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
}

.sidenav {
  position: absolute;
  z-index: 1;
  padding: 15px;
}

.sidenav i {
  background-color: rgb(209, 209, 209);
  text-align: center;
  display: block;
  padding: 8px 8px;
  text-decoration: none;
  font-size: 16px;
  border-style: solid;
  border-width: thin;
}

.sidenav i:hover {
  background-color: rgba(209, 209, 209, 0.74);
  cursor: pointer;
}

.sidenav i:active {
  background-color: rgb(53, 248, 255);
}

.tooltiptext {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  position: absolute;
  z-index: 2;
  font-size: 14px;
  left: 90%;
}

.sidenav i:hover .tooltiptext {
  visibility: visible;
}

#transform {
  border-radius: 3px 3px 0 0;
}

#detach {
  border-radius: 0 0 3px 3px;
}
